/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-row {
    background-color: rgb(124, 156, 223) !important;
    height: 40px !important;
}

.mat-mdc-row:nth-child(even) {
    background-color: rgb(205, 185, 223) !important;
    height: 30px !important;
}